
.vs\MyApplication
source/MyApplication.vcxproj
source/x64/Debug/
Demo/x64/Debug/
Demo/x64/Debug/Demo.vcxproj.FileListAbsolute.txt
source/.vs/
source/x64/Debug/
.vs/MyApplication/v17/Browse.VC.db
.vs/MyApplication/v17/Browse.VC.db-shm
.vs/MyApplication/v17/Browse.VC.db-wal
.vs/MyApplication/v17/Browse.VC.opendb
.vs/MyApplication/v17/ipch/AutoPCH/17f224208fa6a56a/IMGUI_IMPL_DX11.ipch
.vs/MyApplication/v17/ipch/AutoPCH/8b64a8b1fc574714/COMPONENT.ipch
.vs/MyApplication/v17/Solution.VC.db-shm
.vs/MyApplication/v17/Solution.VC.db-wal
.vs/MyApplication/v17/Browse.VC.db
.vs/MyApplication/v17/Browse.VC.db-shm
.vs/MyApplication/v17/Browse.VC.db-wal
.vs/MyApplication/v17/Browse.VC.opendb
.vs/MyApplication/v17/ipch/AutoPCH/17f224208fa6a56a/IMGUI_IMPL_DX11.ipch
.vs/MyApplication/v17/ipch/AutoPCH/8b64a8b1fc574714/COMPONENT.ipch
.vs/MyApplication/v17/Solution.VC.db-shm
.vs/MyApplication/v17/Solution.VC.db-wal
.vs/MyApplication/FileContentIndex/2ebb43e0-d6b0-458e-8886-4a8a4f124388.vsidx
.vs/MyApplication/FileContentIndex/read.lock
.vs/MyApplication/v17/.suo
.vs/MyApplication/v17/Browse.VC.db
.vs/MyApplication/v17/HierarchyCache.v1.txt
.vs/MyApplication/v17/ipch/AutoPCH/2d0dc5bc915ddf6f/MYAPPLICATION.ipch
.vs/MyApplication/v17/ipch/AutoPCH/51f86830d4b96bdf/SCENE.ipch
.vs/MyApplication/v17/ipch/AutoPCH/813b6060a94743f5/RENDERER.ipch
.vs/MyApplication/v17/ipch/AutoPCH/8fc8de034a1f048a/IMGUI_IMPL_DX11.ipch
.vs/MyApplication/v17/ipch/AutoPCH/91096478fa5dc20b/IMGUI.ipch
.vs/MyApplication/v17/ipch/AutoPCH/b851e202778e29b4/COMPONENT.ipch
.vs/MyApplication/v17/ipch/AutoPCH/c384c5bb7f77c4a7/MYENGINE.ipch
.vs/MyApplication/v17/ipch/AutoPCH/cbe4bc5c8a83029e/DX11RENDERER.ipch
.vs/MyApplication/v17/ipch/AutoPCH/d305d08de96c2a26/GAMEOBJECT.ipch
.vs/MyApplication/v17/Solution.VC.db
.vs/MyApplication/v17/.suo
.vs/MyApplication/v17/Browse.VC.db
.vs/MyApplication/v17/Solution.VC.db
Debug/MyApplication.idb
Debug/MyApplication.lib
Debug/MyApplication.pdb
Debug/PixelShader.cso
Debug/VertexShader.cso
