
.vs\MyApplication
source/MyApplication.vcxproj
source/x64/Debug/
Demo/x64/Debug/
Demo/x64/Debug/Demo.vcxproj.FileListAbsolute.txt
source/.vs/
source/x64/Debug/
.vs/MyApplication/v17/Browse.VC.db
.vs/MyApplication/v17/Browse.VC.db-shm
.vs/MyApplication/v17/Browse.VC.db-wal
.vs/MyApplication/v17/Browse.VC.opendb
.vs/MyApplication/v17/ipch/AutoPCH/17f224208fa6a56a/IMGUI_IMPL_DX11.ipch
.vs/MyApplication/v17/ipch/AutoPCH/8b64a8b1fc574714/COMPONENT.ipch
.vs/MyApplication/v17/Solution.VC.db-shm
.vs/MyApplication/v17/Solution.VC.db-wal
.vs/MyApplication/v17/Browse.VC.db
.vs/MyApplication/v17/Browse.VC.db-shm
.vs/MyApplication/v17/Browse.VC.db-wal
.vs/MyApplication/v17/Browse.VC.opendb
.vs/MyApplication/v17/ipch/AutoPCH/17f224208fa6a56a/IMGUI_IMPL_DX11.ipch
.vs/MyApplication/v17/ipch/AutoPCH/8b64a8b1fc574714/COMPONENT.ipch
.vs/MyApplication/v17/Solution.VC.db-shm
.vs/MyApplication/v17/Solution.VC.db-wal
